<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/home.css" />
    <title>ZeffMail | Home</title>
    <!-- Primary Meta Tags -->
    <meta name="title" content="ZeffMail" />
    <meta
      name="description"
      content="A Simple, Fast and Free To Use Mailing API"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://zeffmail.herokuapp.com/" />
    <meta property="og:title" content="ZeffMail" />
    <meta
      property="og:description"
      content="A Simple, Fast and Free To Use Mailing API"
    />
    <meta property="og:image" content="https://i.imgur.com/cTlNd45.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://zeffmail.herokuapp.com/" />
    <meta property="twitter:title" content="ZeffMail" />
    <meta
      property="twitter:description"
      content="A Simple, Fast and Free To Use Mailing API"
    />
    <meta property="twitter:image" content="https://i.imgur.com/cTlNd45.png" />
  </head>

  <body>
    <div class="container">
      <div class="heading">
        <h1 id="title">Zeff<span>Mail</span></h1>
        <p id="description">A Simple, Fast and Free To Use Mailing API</p>
      </div>

      <div class="btn-grp">
        <button id="sam" onclick="window.location='/api/sample'">
          <i style="margin-right: 5px" class="fa fa-star"></i>Sample
        </button>
        <button
          id="repo"
          onclick="window.location='https://github.com/GNVageesh/zeffmail'"
        >
          <i style="margin-right: 5px" class="fa fa-github"></i>
          Open Source
        </button>
      </div>
      <h4 class="getStart">
        Get Started By Making A POST Request To <a href="/api/new">This</a> Link
        With The Sample Provided
      </h4>
      <footer>
        <h4>Made With ❤️ By <strong>GN Vageesh</strong></h4>
      </footer>
    </div>
  </body>
</html>
